.cancel-button-disabled {
 color: lighten(grey, 30%);
  cursor: not-allowed;
  box-shadow: none;
}

.cancel-button {
  padding: 0 10px; 
  &__button { 
    min-width: 100px;
    display: block; 
    white-space: nowrap;
    width: 99%;
    padding: 7px 5px;
    margin: 21px auto ;
    color: $falsy-color;;
    background-color: lighten($falsy-color, 40%);
    outline: none;
     border: 1px solid $falsy-color;
    border-radius: 10px;
    font-size: map-get($font-size, "lg" );
    font-weight: map-get($font-weight, "normal" );
    transform: scale(0.95);
    transition: transform ease 0.2s, box-shadow ease 0.2s;
    cursor: pointer;
    &:hover,
    &:active {
      // transform: scale(1);
      box-shadow: 1px 1px 1px 1px darken($falsy-color, 10%);
    }

    &[disabled] {
      @extend .disabled;
      background-color: darken($falsy-color, 10%);
    }
  }
}
 