.flexbox-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexbox-start-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.flexbox-space-between-start {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.flexbox-space-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flexbox-space-between-stretch {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.flexbox-start-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.flexbox-end-center {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.flexbox-start-stretch {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

.flexbox-center-stretch {
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.flexbox-center-space-between {
  display: flex;
  justify-content: center;
  align-items: space-between;
}

.flexbox-center-start {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
