$point-list: (
  "xs": 480px,
  "sm": 640px,
  "md": 800px,
  "lg": 960px,
  "xl": 1120px,
  "xxl": 1280px,
  "xxxl": 1440px,
);

// font size

$font-size-base: 0.875rem; // Assumes the browser default, typically `15px`
$font-size-lg: ($font-size-base + 0.25); //18px
$font-size-sm: ($font-size-base - 0.125); //12px
$font-size: (
  "xxs": 0.5rem,
  //8px
  "xs": 0.625rem,
  //10px
  "sm": $font-size-sm,
  "md": 0.6875rem,
  //14px
  "md+": 0.8875rem,
  // 16px
  "lg": $font-size-lg,
  //18
  "xl": 1.25rem,
  //20px
  "xxl": 1.5rem,
  //24px
  "xxxl": 1.75rem,
  //28px
  "4xl": 1.875rem,
  //30px
  "xlxl": 2.5rem,
  //40px
  "cp": 1rem // caption ,,,,,,,
);

// font weight
$font-weight_base: 400;
$font-weight: (
  "lighter": lighter,
  "light": 300,
  "normal": 400,
  "bold": 700,
  "bolder": bolder,
  "thin": 100,
  "medium": 500,
  "black": 900,
);

$primary-color: #ff7d00;
$secondary-color: #f5cb5c;
$pure-white: #ffffff;
$pure-black: #000000;
$input-color: #535353;
$nav-color: #5a5a5a;
$border-color: #8b8b8b;
$tertiary-color: #0079ff;
$falsy-color: #ff3700;
$table-head: #8d8d8d;

$main-content-max-width: map-get($point-list, "xxxl");

$drawer-width: 250px;
