@import "./variables";
@import "./breakpoints";
@import "./utility";
@import "./components/table.scss";
@import "./components/primary-button.scss";
@import "./components/secondary-button.scss";
@import "./components/delete-button.scss"; 
@import "./components/cancel-button.scss";
@import "./components/delete-modal.scss"; 

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
  background-color: #f5f5f5;
  position: relative; 
}
* {
  box-sizing: border-box;
}
main {
  max-width: $main-content-max-width;
  margin: 0 auto;
  min-height: calc(100vh - 0px); //main - header - footer
  padding: 25px 10px;
}

a {
  text-decoration: none !important;
  color: inherit;
}
.input-error {
  display: block;
  font-size: 0.8rem;
  padding: 5px 0 0 5%; 
  color: red;
  text-align: initial; 
  &--select {
    @extend .input-error;
    padding: 1% 5px; 
    margin: 0;
  }
}

.form-wrapper {
  padding: 20px 10px;
  background-color: $pure-white;
  border: 1px solid $border-color; 
  @extend .flexbox-start-stretch;
  flex-wrap: wrap;
  margin: auto auto;
  max-width: 600px;
  flex-direction: column;
  border-radius: 10px;
  .title {
    margin: 0 25px; 
    display: flex;
    align-items: center;
  }
  .select-chip {
    display: flex;
    flex-flow: wrap;
    width: 90%;
    margin: auto;
    div {
      padding: 2px 12px;
      background-color: $tertiary-color;
      color: $pure-white;
      border-radius: 50px;
      margin: 3px;
      cursor: pointer;
    }
  }

  .title {
    margin: 12px;
    display: flex;
    align-items: center;
  }
  
}


